<div><a href="open-course-add" class='btn pull-right btn-success' style="margin-right:20px" role="button">新增公开课</a></div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>课程名</th>
        <th>描述</th>
        <th>封面</th>
        <th>时间</th>
        <th>报名数</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
            {{#each course}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td><img src="/images/{{poster}}" alt="" style="width:100px;"></td>
                    <td>{{date time 'YYYY-MM-DD'}}</td>
                    <td>{{count}}</td>
                    <td>
                        <a href="open-course-update/{{id}}">更新</a>
                        <a href="open-course-delete/{{id}}">删除</a>
                    </td>
                </tr>
            {{/each}}
    </tbody>
</table>
